<%- include("../partials/header") %>


<form action="/cohort" method="POST">
  <h6>Logo Url</h6>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="logoUrl"
      placeholder="e.g. https://www.example.com/some.png">
  </div>
  <h6>Name</h6>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="Name"
      placeholder="e.g. Space Jam">
  </div>
  <h6>Members</h6>
  <div class="form-group">
    <textarea
      class="form-control"
      name="Members"
      cols="60"
      rows="5"
      placeholder="e.g. Michael Jordon, Kobe Bryan, Kevin Garnett, Vince Carter"></textarea>
  </div>
  <div class="d-flex justify-content-end">
    <input type="submit" value="Submit" class="btn btn-outline-primary">
  </div>
</form>

<%- include("../partials/footer") %>