<!DOCTYPE html>
<html>
  <head>
    <title>SUPER TEAM PICKER</title>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand text-primary bg-light mb-4">
        <h6 class="navbar-brand">Super Team Picker</h6>
        <div class="collapse navbar-collapse  d-flex justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/cohort" class="nav-link">Home</a>
            </li>
            
            <li class="nav-item">
              <a href="/cohort" class="nav-link">Cohorts</a>
            </li>

            <li class="nav-item">
              <a href="/cohort/new" class="nav-link">New Cohorts</a>
            </li>
            
          </ul>

        </div>
      </nav>
    </header>

    <main class="container-fluid">