
<ul class="m-4 p-0">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-sm">
        <div class="card mb-4">
          <div class="card-body ">
            <div class="font-weight-bold mb-2">
              <%= link_to(post.title, post_path(post.id)) %> <br>
            </div>
            <div class="p-0 text-nowrap bd-highlight col-2 text-truncate"  style="max-width: 300px">
              <p class="card-text"><%=post.body%></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</ul>